@font-face {
  font-family: "iconfont"; /* Project id 4329384 */
  src: url('iconfont.woff2?t=1700209295040') format('woff2'),
       url('iconfont.woff?t=1700209295040') format('woff'),
       url('iconfont.ttf?t=1700209295040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\ea67";
}

.icon-straight:before {
  content: "\e72e";
}

.icon-straight-middle:before {
  content: "\ea69";
}

